#beranda{
    height: 100vh;
    display: flex;
    align-items: center;
}

.btn-beranda{
    text-decoration: none;
    color: white;
    padding: .5rem 3rem;
    border-radius: 10px;
}

.kalender{
    width: 100%;
    height: auto;
    object-fit: contain;
}





/* BERANDA 1 */
#nilai{
    height: max-content;
    min-height: 90vh;
}
.lihat-nilai{
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}