.bg-blue{
    background-color: #059212;
}
.bg-blue2{
    background-color: #5EB237;
}
.bg-green{
    background-color: #52FF00;
}
.bg-yellow{
    background-color: #FFD600;
}
.text-yellow{
    color: #FFD600;
}

p{
    margin-bottom: 0 !important;
}
h1{
    margin-bottom: 0 !important;
}
h2{
    margin-bottom: 0 !important;
}
h3{
    margin-bottom: 0 !important;
}
h4{
    margin-bottom: 0 !important;
}
h5{
    margin-bottom: 0 !important;
}

.lt-5{
    letter-spacing: 5px !important;
}


.form-log-reg{
    border-radius: 200px !important;
    padding: .75rem 1rem !important;
}
.btn-log-reg{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 200px;
    padding: .75rem 3rem;
    border: none !important;
    width: 100%;
}

.border-tabel{
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.desc-penilaian{
    margin-top: -.75rem;
    padding-left: 1rem;
    font-size: .75rem;
}

/* CSS NAVBAR */
.nav-active{
    background-color: #059212;
    color: white;
    border-radius: 10px;
}
.nav-active:hover{
    color: white;
}
.nav-item:hover{
    color: #52FF00;
}
#nav-utama{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    background-color: white;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
}
.navbar-brand{
    width: 20% !important;
}
.navbar-brand img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.button-logout{
    background-color: red;
    color: white !important;
    border-radius: 5px;
    padding: .25rem 2.5rem;
}
.button-logout:hover{
    background-color: rgb(255, 30, 0);
    color: white !important;
    border-radius: 5px;
    padding: .25rem 2.5rem;
}