#login{
    min-height: 100vh;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}


.btn-login{
    width: max-content;
    padding: .5rem 3rem;
    border-radius: 200px;
    color: white;
}