#login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-login{
    width: max-content;
    padding: .5rem 3rem;
    border-radius: 200px;
    color: white;
}